<div class="top-categories">
  <section class="bl-background">
    <div class="bl-headphones">
      <img src="assets/img/headphones.png" alt="" class="headphones-img" width="590" height="620">
      <div class="headphones-content">
        <h3 class="headphones-head">Knowledge, the jewels of it,</h3>
        <span class="headphones-text">
          is now easier for you to reach than before,
          you can listen to it anytime of the day or night you like,
          and anywhere you like laying on your couch, walking,
          driving, fishing, working out, … your choice!
        </span>
        <button routerLink="/sign-up" class="btn-style btn-style-blue start-free">start free</button>
      </div>
    </div>
  </section>

  <section class="bl-categories">
    <div class="bl-select-cat">
      <div class="container">
        <div class="categories">
          <div class="heal-fit col-lg-6">
            <div class="bl-cat-filter">
              <a href="#" class="heal-fit-text">Health & Fitness</a>
            </div>
          </div>
          <div class="tv-film col-lg-6">
            <div class="bl-cat-filter">
              <a href="#" class="tv-film-text">TV & Film
                <div class="tv-film-text-back"></div>
              </a>
            </div>
          </div>
          <div class="love-st col-lg-4">
            <div class="bl-cat-filter">
              <a href="#" class="love-st-text">Love stories</a>
            </div>
          </div>
          <div class="top-cat col-lg-4">
            <div class="bl-cat-filter no-filter">
              <span class="top-cat-text">
                <span class="top-cart-big">TOP</span><br>CATEGORIES
              </span>
            </div>
          </div>
          <div class="busin-books col-lg-4">
            <div class="bl-cat-filter">
              <a href="#" class="busin-books-text">Business books</a>
            </div>
          </div>
          <div class="for-kids col-lg-4">
            <div class="bl-cat-filter">
              <a href="#" class="for-kids-text">For kids</a>
            </div>
          </div>
          <div class="cat-footer col-lg-12">
            <a href="#">
              <span class="cat-footer-link-title">SEE ALL</span>
              <span class="glyphicon glyphicon-menu-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
