.sing-up {
  width: 100%;
  height: 800px;
  position: fixed;
  top: 0;
}

.sing-up label {
  margin-right: 10px;
  color: #aaa;
  width: 100%;
}

.sing-up-logo {
  width: 235px;
  height: 140px;
  margin: 18px auto;
}


.with-twitter {
  width: 345px;
  background-color: #4099ff;
  margin: 0 10px 0 12px;
}

.with-twitter:hover {
  background-color: #2479d9;
}

.with-facebook {
  width: 345px;
  background-color: #3b5998;
  margin: 0 10px 0 37px;
}

.with-facebook:hover {
  background-color: #25417c;
}

.sing-up-or {
  text-align: center;
  color: #000;
  font-size: 18px;
}

.sing-up-or span {
  background-color: #fff;
  padding: 0 20px;
  top: 12px;
  position: relative;
}

.sing-up-or p {
  border-top: 1px solid #111;
  padding-top: 12px;
  margin-bottom: 12px;
}

.step-1 {
  color: #005a9c;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 143px;
}

.step-2 {
  color: rgba(212, 221, 233, 0.8);
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 215px;
}

.sing-up-input {
  width: 100%;
  padding-left: 20px;
}

.name-margin {
  margin-bottom: 0 !important;
}

.dropdown-menu-style {
  width: 100%;
  height: 50px;
  margin: 8px 54px 0 0;
}

.sing-up-step-2 {
  height: 500px;
  position: relative;
}

.checkbox-newsletter {
  margin: 26px 0;
}

.sing-up-btn-area {
  width: 424px;
  margin: auto;
  text-align: center;
}

.sing-up-btn-area label {
  font-size: 13px;
}

.btn-sing-up {
  width: 225px;
  margin: 10px 0 20px 0;
  background-color: #9e1f63;
}

.btn-sing-up:hover {
  color: #9e1f63;
  background-color: #fff;
  border: 1px solid #9e1f63;
}

.sing-up-btn-area span {
  font-size: 17px;
}

.sing-up-btn-area a {
  color: #005a9c;
  font-weight: bold;
}

/*Active block step*/

.sing-up-step-1 {
  /*display: none;*/
}

.sing-up-step-2 {
  display: none;
}

.step-2-header {
  width: 300px;
  margin: 20px auto;
  font-size: 19px;
}

.btn-next-skip {
  width: 225px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
}

.btn-sing-up-next {
  width: 100%;
  color: #9e1f63 !important;
  background-color: #fff !important;
  border: 2px solid #9e1f63 !important;
  margin-bottom: 10px;
}

.btn-sing-up-next:hover {
  color: #fff !important;
  background-color: #9e1f63 !important;
}

.btn-next-skip a {
  color: #737373;
  margin-top: 10px;
}
