<section id="how-to-start" class="how-to-start">
  <h2 class="section-head col-lg-4">how to start</h2>
  <div class="container">
    <div class="row">
      <div class="bl-start number-1 col-lg-4">
        <div class="step-content">
          Register with us and enjoy <br>
          <span class="purple-link">1 month free</span> membership
          and try our services with all free
          titles available.
        </div>
      </div>
      <div class="bl-start number-2 col-lg-4">
        <div class="step-content">
          Purchase Membership.
          You can select what suits you monthly,
          Quarterly, Half-Yearly or Yearly.
          You need active membership to rent or
          purchase the titles you like.
        </div>
      </div>
      <div class="bl-start number-3 col-lg-4">
        <div class="step-content">And that’s it! Start NOW!</div>
        <button routerLink="/sign-up" class="btn-style btn-style-blue start-now">start now</button>
      </div>
    </div>
  </div>
</section>
