<section id="what-do-i-get" class="what-get">
  <h2 class="section-head col-lg-4">what do i get</h2>
  <div class="get-bl-area">
    <div class="get-bl know-as"><img src="assets/img/get-bl-img-1.png" alt="">
      <h3>Know as you go</h3><p>Free Native mobile app to access your titles anywhere at any time with superior quality and ease-of-use.</p>
    </div>
    <div class="get-bl free-reg"><img src="assets/img/get-bl-img-2.png" alt="">
      <h3>Free registration</h3><p>For one month, you can use it to try our services and access free titles, newsletter, and you still can Purchase but you will lose the members discount and you will not be able to the Rent facility.</p>
    </div>
    <div class="get-bl know-and-get"><img src="assets/img/get-bl-img-3.png" alt="">
      <h3>Know and get rewarded</h3><p>When you complete listening for 5 titles you will receive a gift coupon you can use to pay for your membership renewal, title rent or title purchase.</p>
    </div>
    <div class="get-bl flexible-mem"><img src="assets/img/get-bl-img-4.png" alt="">
      <h3>Flexible membership</h3><p>You can choose to pay for your membership monthly, quarterly, half-yearly or yearly, with increasing discount.</p>
    </div>
    <div class="get-bl rent-of-pur"><img src="assets/img/get-bl-img-5.png" alt="">
      <h3>Rent or Purchase option</h3><p>As a member, you are entitled to Rent titles if you want to listen to certain titles for limited time, and of course you can Purchase them.</p>
    </div>
    <button routerLink="/sign-up" class="btn-style btn-style-blue btn-get-start">get started</button>
  </div>
</section>
