<section id="about" class="about">
  <div class="about-bg-img">
    <div class="about-modal">
      <h2 class="section-head col-lg-4">about</h2>
      <div class="about-modal-text">
        <p>AudioJewels is an online service created and operated by Solutions Globe Limited company. </p>
        <p>It is developed and launched to serve and satisfy your eagerness to know more by searching for the best of all categories and bringing it to you in an easy and simple way. We called it Jewels because we focus our search on titles that satisfy certain criteria, it must add to your knowledge, help you to take control of your life and change for the better, or at least brings you some fun.</p>
        <p>Our promise is to find that all titles at AudioJewels are Safe and Clean, now and forever!</p>
      </div>
      <button routerLink="/sign-up" class="btn-style btn-style-blue btn-try-free">try free</button>
    </div>
  </div>
</section>
