<section class="sliders">
  <div class="container">
    <div class="row">
      <h2 class="section-head col-lg-5">new releases</h2>
      <aj-slider [books]="books"></aj-slider>
      <button class="btn-style btn-style-blank btn-show-more">show more
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
    <div class="row">
      <h2 class="section-head col-lg-5">free titles</h2>
      <aj-slider [books]="books"></aj-slider>
      <button class="btn-style btn-style-blank btn-show-more">show more
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
    <div class="row">
      <h2 class="section-head col-lg-5">best sellers</h2>
      <aj-slider [books]="books"></aj-slider>
      <button class="btn-style btn-style-blank btn-show-more">show more
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
  </div>
</section>
